* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

nav {
  width: 100%;
  height: 60px;
  padding: 1rem;
  position: fixed;
  background-color: crimson;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.links {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 17px;
  transition: 0.4s ease-in-out;
}

.links:hover {
  color: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  border: 2px solid crimson;
  border-radius: 10px;
}

/* Barras laterais */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: crimson;
}

.pokemons {
  padding: 2rem;
  background-color: skyblue;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 3rem;
}

/* Footer */
footer {
  width: 100%;
  height: 60px;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}

/* Responsividade */
@media (max-width: 600px) {
  .logo {
    display: none;
  }
  nav {
    display: flex;
    justify-content: center;
    background-color: skyblue;
  }
  .pokemons {
    background-color: crimson;
  }
  img {
    border: 2px solid skyblue;
    border-radius: 10px;
  }
  footer {
    background-color: skyblue;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: skyblue;
  }
}
